{% block grid %}
    {% stylesheets
    'bundles/mesdanggrid/css/grid.css'
    filter='cssrewrite'
%}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
<div data-ng-module="task" data-ng-controller="{{ ngController }}" style="line-height:2em;">
    {% block controls %}
        <div class="widget-bar row">
            <div class="col-sm-4-12 corner-left">
                <div data-ng-class="{true:'fa fa-caret-down', false:'fa fa-caret-right'}[data.showControl]" class="col-sm-1-12 mini-page toggle-control" data-ng-click="toggleControl()"></div>
                <div class="col-sm-1-12">
                </div>
                <div class="search-control col-sm-7-12">
                    <input type="search" placeholder="{{ searchPlaceholder is defined ? searchPlaceholder : 'Search'}}" class="grid-filter-input-query-from" data-ng-model="data.search" data-ng-change="makeRequest()" style="width:100%" id="grid-search" data-ng-class="{ false : 'highlight', true : '' }[!data.search || data.search=='{{ searchPlaceholder is defined ? searchPlaceholder : 'Search'}}']"/>
                </div>
                <div class="col-sm-2-12">
                    <button class="btn btn-default reset" data-ng-click="reset()">Reset</a>
                </div>
            </div>
            <div class="col-sm-4-12"></div>
            <div class="col-sm-4-12">
                <div class="col-sm-5-12 text-right">
                    <strong>
                        <span data-ng-bind="0 < data.filtered && (data.perPage * (data.page - 1)) + 1 || 0" class="filtered"></span>
                        -
                        <span data-ng-bind="(data.perPage * data.page) < data.filtered && (data.perPage * data.page) || data.filtered" class="filtered"></span>
                        of
                        <span data-ng-bind="data.filtered" class="filtered"></span>
                        <input type="hidden" data-ng-bind="data.total" class="total" />
                    </strong>
                </div>
                <div class="col-sm-5-12">
                    <div class="col-sm-6-12 text-center"><input data-ng-model="data.page" data-ng-change="makeRequest()" type="text" class="page-number"/></div>
                    {# <div class="col-sm-3-12 text-center">of</div> #}
                    <div class="col-sm-6-12 text-center"> of <span class="" data-ng-bind="data.last"></span></div>
                </div>
                <div class="col-sm-2-12">
                    {# <div class="col-md-1-12"> #}
                    <span class="fa fa-angle-left btn btn-default btn-xs" data-ng-click="previousPage()"></span>
                    <span class="fa fa-angle-right btn btn-default btn-xs" data-ng-click="nextPage()"></span>
                    {# </div> #}
                </div>
            </div>
            {# <div class="col-sm-1-12 row widget-bar-page-control"> #}
        </div>
        <div class="row grid-controls widgets" data-ng-show="data.showControl">
            <div class="col-sm-4-12">
                {% if addForm is defined %}
                    {# <div class="grid-form col-sm-1-12"> #}
                    <div class="grid-button">
                        <button class="btn btn-primary" data-ng-hide="data.addView" title="Show Add Form" data-ng-click="toggleAdd()" id="debug-grid-add-form">
                            <span class="{{ showAddFormIcon is defined ? showAddFormIcon : 'fa fa-plus' }}" id="grid-add-form"></span> {{ showAddFormTitle is defined ? showAddFormTitle : 'Add' }}
                        </button>
                        <button class="btn" data-ng-show="data.addView" title="Hide Add Form" data-ng-click="toggleAdd()">
                            <span class="fa fa-minus"></span>
                        </button>
                    </div>
                    {# </div> #}
                {% elseif newFormUrl is defined %}
                    {# <div class="grid-form col-sm-1-12"> #}
                    <div class="grid-button">
                        <a href="{{ newFormUrl }}" title="{{ newFormTitle is defined ? newFormTitle : 'New' }}" class="btn btn-primary">
                            <span class="{{ newFormIcon is defined ? newFormIcon : 'fa fa-plus' }}"></span> {{ newFormTitle is defined ? newFormTitle : 'New' }}
                        </a>
                    </div>
                    {# </div> #}
                {% else %}
                {% endif %}
                <div class="col-sm-1-12">
                </div>
                {% if addForm is not defined and newFormUrl is not defined %}
                    <div class="col-sm-1-12">
                    </div>
                {% endif %}
            </div>
            <div class="col-sm-4-12 text-center">
                <div class="btn-group export-control">
                    <a class="btn btn-default" data-ng-href="{% verbatim %}{{ data.exportArray[0].exportLink }}{% endverbatim %}">Export</a>
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a data-ng-repeat="option in data.exportArray" data-ng-click="data.setExportType(option.value)" data-ng-href="{% verbatim %}{{ option.exportLink }}{% endverbatim %}">{% verbatim %}{{ option.label }}{% endverbatim %}</a></li>
                    </ul>
                </div>
            </div>
            <div class="results-controls col-sm-4-12 text-right">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Items per page">
                    {% verbatim %}{{ data.perPage }}{% endverbatim %} per page <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li data-ng-repeat="perPageItem in data.perPageList">
                        <a data-ng-click="changePage(perPageItem)" href="">{% verbatim %}{{ perPageItem }}{% endverbatim %} per page</a>
                    </li>
                </ul>
            </div>
        </div>
    {% endblock controls %}
    {% if addFormUrl is defined %}<form action="{{ addFormUrl }}" method="post" enctype="multipart/form-data">{% endif %}
        <table class="table table-bordered table-condensed table-hover table-striped grid">
            {% block tableheader %}
                <colgroup>
                    <col data-ng-show="data.actionWidth" class="grid" style="width:{% verbatim %}{{data.numButtons}}{% endverbatim %}px;"{# "width:{% verbatim %}{{data.actionWidth}}{% endverbatim %}%;" #} span="1"></col>
                    <col class="grid" style="width:{% verbatim %}{{data.headers[header].width}}{% endverbatim %}%;" data-ng-repeat="header in notSorted(data.headers)" span="1"></col>
                </colgroup>
                <thead>
                    <tr>
                        <th data-ng-hide="null==data.paths || ''==data.paths" class="grid" style="min-width:{% verbatim %}{{data.numButtons}}{% endverbatim %}px;width:{% verbatim %}{{data.numButtons}}{% endverbatim %}px;">
                            <span> Actions</span>
                        </th>
                        <th data-ng-repeat="header in notSorted(data.headers)" data-ng-init="data.headers[header]" id={% verbatim %}"{{ data.headers[header].id }}"{% endverbatim %} title={% verbatim %}"{{ data.headers[header].title }}"{% endverbatim %} class="grid">
                            <div class="row">
                                <div class="col-sm-9-12 grid clickable" class="" data-ng-click="sort($event, data.headers[header].column)" >
                                    <span>{% verbatim %}{{data.headers[header].header}}{% endverbatim %}</span>
                                </div>
                                <div class="col-sm-3-12 grid clickable" data-ng-click="sort($event, data.headers[header].column)" >
                                    <span class={% verbatim %}"{{ data.headers[header].sortIcon }}"{% endverbatim %}</span>
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
            {% endblock tableheader %}
            {% block extraheader %}
            {% endblock extraheader %}
            {% block tablebody %}
                <tbody>
                    <tr data-ng-show="!data.filtered">
                        <td>No matches found.</td>
                    </tr>
                    <tr data-ng-repeat="entity in notSorted(data.entities)">
                        <td data-role-th="Actions" data-ng-hide="null==data.paths || ''==data.paths || data.hideControl" data-ng-class="data.headers[header].align" class="grid" style="min-width:{% verbatim %}{{data.numButtons}}{% endverbatim %}px;">
                            <span class="btn-group">
                                <a data-ng-repeat="action in notSorted(data.entities[entity].paths)" data-ng-init="value=data.paths[action]" class={% verbatim %}"{{ data.paths[action].class }}"{% endverbatim %} data-ng-href={% verbatim %}"{{ data.entities[entity].paths[action] }}"{% endverbatim %} title="{% verbatim %}{{ data.paths[action].title }}{{data.entities[entity].labels[action]}}{% endverbatim %}"  name="{% verbatim %}{{ data.paths[action].name }}{% endverbatim %}">
                                    <span class={% verbatim %}"{{data.paths[action].icon}}"{% endverbatim %}></span>
                                </a>
                                <button data-ng-repeat="button in notSorted(data.entities[entity].buttons)"
                                    class={% verbatim %}"{{ data.buttons[button].class }}"{% endverbatim %} title={% verbatim %}"{{ data.buttons[button].title }}{{data.entities[entity].labels[action]}}"{% endverbatim %} name="{% verbatim %}{{data.buttons[button].name}}{% endverbatim %}" value={% verbatim %}"{{ data.entities[entity].buttons[button] }}"{% endverbatim %} name="{% verbatim %}{{data.buttons[button].name}}{% endverbatim %}">
                                    <span class={% verbatim %}"{{data.buttons[button].icon}}"{% endverbatim %}></span>
                                </button>
                            </span>
                        </td>
                        <td data-ng-repeat="header in notSorted(data.headers)" data-ng-init="value=data.headers[header]" data-role-th={% verbatim %}"{{ data.headers[header].title }}"{% endverbatim %} data-ng-class="data.headers[header].align" class="grid" >
                            <div data-ng-switch on="data.headers[header].html">
                                <div data-ng-switch-when="true" data-ng-bind-html-unsafe="data.entities[entity].values[data.headers[header].column]" class="grid">
                                </div>
                                <div data-ng-switch-default data-ng-bind="data.entities[entity].values[data.headers[header].column]" class="grid" title="{% verbatim %}{{data.entities[entity].titles[data.headers[header].column]}}{% endverbatim %}">
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            {% endblock tablebody %}
        </table>
        {% if saveAll is defined %}
            <button class="btn btn-primary"title="Save All" name="action" value="grid_update">
                <span class="fa fa-save">
                </span>
                Save All
            </button>
        {% endif %}
        {% if addFormUrl is defined %}</form>{% endif %}
        </div>
    {% endblock grid %}