{% block grid %}
    {% stylesheets
    'bundles/mesdanggrid/css/grid.css'
    filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <div data-ng-module="task" data-ng-controller="{{ ngController }}" style="line-height:2em;">
        {% block controls %}
            <div class="widget-bar row-fluid">
                <div class="span1 row-fluid" data-ng-click="toggleControl()">
                    <div data-ng-class="{true:'icon-caret-down', false:'icon-caret-right'}[data.showControl]" class="span5 mini-page toggle-control"></div>
                </div>
                <div class="span10">
                </div>
                <div class="span1 row-fluid widget-bar-page-control">
                    <div class="span1">
                    </div>
                    <div class="span5 icon-angle-left mini-page" data-ng-click="previousPage()">
                    </div>
                    <div class="span5 icon-angle-right mini-page" data-ng-click="nextPage()">
                    </div>
                </div>
            </div>
            <div class="row-fluid grid-controls widgets" data-ng-show="data.showControl">
                {% if addForm is defined %}
                    <div class="grid-form span1">
                        <div class="grid-button">
                            <span class="btn btn-primary" data-ng-hide="data.addView" title="Show Add Form" data-ng-click="toggleAdd()">
                                <span class="icon-plus"></span> Add
                            </span>
                            <span class="btn" data-ng-show="data.addView" title="Hide Add Form" data-ng-click="toggleAdd()">
                                <span class="icon-minus"></span>
                            </span>
                        </div>
                    </div>
                {% elseif newFormUrl is defined %}
                    <div class="grid-form span1">
                        <div class="grid-button">
                            <a href="{{ newFormUrl }}" title="{{ formTitle is defined ? formTitle }}" class="btn btn-primary">
                                <span class="icon-plus"></span> {{ newForm is defined ? newForm : 'New' }}
                            </a>
                        </div>
                    </div>
                {% else %}
                {% endif %}
                <div class="search-control span3">
                    <input type="search" placeholder="{{ searchPlaceholder is defined ? searchPlaceholder : 'Search'}}" class="grid-filter-input-query-from" data-ng-model="data.search" data-ng-change="makeRequest()" style="width:100%" id="grid-search"/>
                </div>
                <div class="span1">
                    <a class="btn" data-ng-click="reset()">Reset</a>
                </div>
                {% if addForm is not defined and newFormUrl is not defined %}
                    <div class="span1">
                    </div>
                {% endif %}
                <div class="btn-group export-control span1">
                    <a data-ng-href="{% verbatim %}{{ data.exportArray[0].exportLink }}{% endverbatim %}" class="btn">Export</a>
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a data-ng-repeat="option in data.exportArray" data-ng-click="data.setExportType(option.value)" data-ng-href="{% verbatim %}{{ option.exportLink }}{% endverbatim %}">{% verbatim %}{{ option.label }}{% endverbatim %}</a></li>
                    </ul>
                </div>
                <div class="span1">
                </div>
                <div class="results-controls span3">
                    <div class="row-fluid">
                        <div class="results-control span5">
                            <strong>
                                <span data-ng-bind="0 < data.filtered && (data.perPage * (data.page - 1)) + 1 || 0" class="filtered"></span>
                                -
                                <span data-ng-bind="(data.perPage * data.page) < data.filtered && (data.perPage * data.page) || data.filtered" class="filtered"></span>
                                of
                                <span data-ng-bind="data.filtered" class="filtered"></span>
                            </strong>
                        </div>
                        <div class="items-per-page-control span5">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    {% verbatim %}{{ data.perPage }}{% endverbatim %} per page <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a ng-click="changePage(10)">10 per page</a></li>
                                    <li><a ng-click="changePage(25)">25 per page</a></li>
                                    <li><a ng-click="changePage(50)">50 per page</a></li>
                                    <li><a ng-click="changePage(100)">100 per page</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-control span2">
                    {# <div class="pull-right"> #}
                    {# <span>Page</span> #}
                    <div class="row-fluid">
                        <div class="span4">
                        </div>
                        <div class="span4">
                            <input data-ng-model="data.page" data-ng-change="makeRequest()" type="text"/>
                        </div>
                        <div class="span1"> of</div>
                        <div class="span2" data-ng-bind="data.last">
                        </div>
                    </div>
                </div>
            </div>
        {% endblock controls %}
        {% if addFormUrl is defined %}<form action="{{ addFormUrl }}" method="post">{% endif %}
            <table class="table table-bordered table-condensed table-hover table-striped grid">
                {% block tableheader %}
                    <colgroup>
                        <col data-ng-show="data.actionWidth" class="grid" style="width:{% verbatim %}{{data.actionWidth}}{% endverbatim %}%;" span="1"></col>
                        <col class="grid" style="width:{% verbatim %}{{data.headers[header].width}}{% endverbatim %}%;" data-ng-repeat="header in notSorted(data.headers)" span="1"></col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th data-ng-hide="null==data.paths || ''==data.paths" class="grid">
                                <span> Actions</span>
                            </th>
                            <th data-ng-repeat="header in notSorted(data.headers)" data-ng-init="data.headers[header]" id={% verbatim %}"{{ data.headers[header].id }}"{% endverbatim %} title={% verbatim %}"{{ data.headers[header].title }}"{% endverbatim %}>
                                <div class="row-fluid">
                                    <div class="span1">
                                        <span data-ng-class="{true:'open', false:''}[data.filters[header].open]" class="dropdown" data-header-filter={% verbatim %}"{{ data.headers[header].type }}"{% endverbatim %} data-ng-show="data.headers[header].filterable" data-ng-switch="" data-on="data.headers[header].type">
                                            <span data-ng-click="toggleFilter(header)" class="clickable dropdown-toggle"><span class="icon-filter"></span></span>
                                            <ul class="dropdown-menu" data-ng-switch-when="string">
                                                <li>Filter: <input data-ng-bind="data.filters[header].filter"></input></li>
                                            </ul>
                                            <ul class="dropdown-menu" data-ng-switch-when="date">
                                                <li>From: <input data-ng-bind="data.filters[header].from"></input></li>
                                                <li>To: <input data-ng-bind="data.filters[header].to"></input></li>
                                            </ul>
                                            <ul class="dropdown-menu" data-ng-switch-default="">
                                                <li>{% verbatim %}{{ data.headers[header].type }}{% endverbatim %}</li>
                                            </ul>
                                        </span>
                                    </div>
                                    <div class="span10" class="clickable" data-ng-click="sort($event, data.headers[header].column)" >
                                        <span>{% verbatim %}{{data.headers[header].header}}{% endverbatim %}</span>
                                    </div>
                                    <div class="span1" class="clickable" data-ng-click="sort($event, data.headers[header].column)" >
                                        <span class={% verbatim %}"{{ data.headers[header].sortIcon }}"{% endverbatim %}</span>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                {% endblock tableheader %}
                {% block extraheader %}
                {% endblock extraheader %}
                {% block tablebody %}
                    <tbody>
                        <tr data-ng-show="!data.filtered">
                            <td>No matches found.</td>
                        </tr>
                        <tr data-ng-repeat="entity in notSorted(data.entities)">
                            <td data-role-th="Actions" data-ng-hide="null==data.paths || ''==data.paths || data.hideControl" data-ng-class="data.headers[header].align" class="grid">
                                <span class="btn-group">
                                    <a data-ng-repeat="action in notSorted(data.entities[entity].paths)" data-ng-init="value=data.paths[action]" class={% verbatim %}"{{ data.paths[action].class }}"{% endverbatim %} data-ng-href={% verbatim %}"{{ data.entities[entity].paths[action] }}"{% endverbatim %} title="{% verbatim %}{{ data.paths[action].title }}{% endverbatim %}">
                                        <span class={% verbatim %}"{{data.paths[action].icon}}"{% endverbatim %}></span> {% verbatim %}{{data.paths[action].text}}{% endverbatim %}
                                    </a>
                                    <button data-ng-repeat="button in notSorted(data.entities[entity].buttons)"
                                        class={% verbatim %}"{{ data.buttons[button].class }}"{% endverbatim %} title={% verbatim %}"{{ data.buttons[button].title }}"{% endverbatim %} name={% verbatim %}"{{data.buttons[button].name}}"{% endverbatim %} value={% verbatim %}"{{ data.entities[entity].id }}"{% endverbatim %}>
                                        <span class={% verbatim %}"{{data.buttons[button].icon}}"{% endverbatim %}></span>
                                    </button>
                                </span>
                            </td>
                            <td data-ng-repeat="header in notSorted(data.headers)" data-ng-init="value=data.headers[header]" data-role-th={% verbatim %}"{{ data.headers[header].title }}"{% endverbatim %} data-ng-class="data.headers[header].align" class="grid" title="{% verbatim %}{{data.entities[entity].values[data.headers[header].column]}}{% endverbatim %}">
                                <div data-ng-switch on="data.headers[header].html">
                                    <div data-ng-switch-when="true" data-ng-bind-html-unsafe="data.entities[entity].values[data.headers[header].column]" class="grid">
                                    </div>
                                    <div data-ng-switch-default data-ng-bind="data.entities[entity].values[data.headers[header].column]" class="grid">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% if saveAll is defined %}
                            <tr>
                                <td colspan='100'>
                                    <button class="btn btn-primary"title="Save All" name="action" value="grid_update">
                                        <span class="icon-save">
                                        </span>
                                        Save All
                                    </button>
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                {% endblock tablebody %}
            </table>
            {% if formUrl is defined %}</form>{% endif %}
            </div>
        {% endblock grid %}