{% verbatim %}
<div class="row-fluid" data-ng-module="task" data-ng-controller="{% endverbatim %}{{ ngController }}{% verbatim %}" style="line-height:2em;">
    <div class="span5">
        <div class="row-fluid search-control">
            <div class="span6">
                <input type="search" placeholder="Search" class="grid-filter-input-query-from" data-ng-model="data.search" data-ng-change="getData()" style="width:100%"/>
            </div>
            <div class="span1">
            </div>
            <div class="span5">
                <div class="row-fluid export-control">
                    <div class="span5">
                        <select data-ng-model="data.exportType" data-ng-change="getData()" class="grid-export">
                            <option value="csv">CSV</option>
                            <option value="xls">Excel</option>
                            <option value="tsv">TSV</option>
                        </select>
                    </div>
                    <div class="span7">
                        <a class="btn" data-ng-href="{{ data.exportLink }}" target="_blank">
                            <div class="icon-save"> Export</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="span7">
        <div class="row-fluid">
            <div class="span7">
                <div class="row-fluid">
                    <div class="span2">
                    </div>
                    <div class="span4">
                        <div class="row-fluid results-control" style="font-weight: bold">
                            Showing
                            <span data-ng-bind="data.filtered"></span>
                            of
                            <span data-ng-bind="data.total"></span>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="row-fluid items-per-page-control">
                            <div class="span5">
                                <select data-ng-model="data.perPage" data-ng-change="getData()" class="grid-pages">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <div class="span7">
                                per page
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span5 page-control">
                <span>Page</span>
                <span class="btn-group">
                    <button class="btn" data-ng-click="previousPage()" style="margin-bottom: 10px"><span class="icon-chevron-left"></button>
                </span>
                <span>
                    <input data-ng-model="data.page" data-ng-change="getData()" style="width:20%" type="text"/>
                </span>
                <span class="btn-group">
                    <button class="btn" data-ng-click="nextPage()" style="margin-bottom: 10px"><span class="icon-chevron-right"></button>
                </span>
                <span> of</span>
                <span data-ng-bind="data.last"></span>
            </div>
        </div>
    </div>
    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>
                    <span>Actions</span>
                </th>
                <th data-ng-repeat="header in notSorted(data.headers)" data-ng-init="value=data.headers[header]" data-ng-click="sort($event, data.headers[header].column)">
                    <span>
                       {{data.headers[header].title}} <span class="{{ data.headers[header].sortIcon }}">
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-show="!data.entities.length">
                <td colspan="{{ data.headers.length + 1 }}">No matches found.</td>
            </tr>
            <tr data-ng-repeat="entity in data.entities">
                <td data-role-th="Actions">
                    <span class="btn-group">
                        <a data-ng-repeat="action in notSorted(data.actions)" data-ng-init="value=data.actions[action]" class="btn {{ data.actions[action].class }}" data-ng-href="{{ entity.paths[action] }}" title="{{ data.actions[action].title }}">
                            <span class="{{data.actions[action].icon}}"></span> {{data.actions[action].text}}
                        </a>
                    </span>
                </td>
                <td data-ng-repeat="header in notSorted(data.headers)" data-ng-init="value=data.headers[header]"data-role-th="{{ data.headers[header].title }}">
                    <div data-ng-bind="entity.values[data.headers[header].column] | filter: checkmark"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endverbatim %}
